<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>BlogDetails</servlet-name>
        <servlet-class>controller.BlogDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogsList</servlet-name>
        <servlet-class>controller.BlogsList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogDetails</servlet-name>
        <url-pattern>/BlogDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogsList</servlet-name>
        <url-pattern>/BlogsList</url-pattern>
    </servlet-mapping>
</web-app>
